AKZ.API/bin
AKZ.API/obj
AKZ.API/obj/Debug/net9.0/AKZ.API.AssemblyInfoInputs.cache
AKZ.API/obj/Debug/net9.0/AKZ.API.dll
AKZ.API/obj/Debug/net9.0/AKZ.API.pdb
AKZ.API/obj/Debug/net9.0/AKZ.API.sourcelink.json
AKZ.API/obj/Debug/net9.0/apphost.exe
AKZ.API/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
AKZ.API/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
AKZ.API/obj/Debug/net9.0/ref/AKZ.API.dll
AKZ.API/obj/Debug/net9.0/refint/AKZ.API.dll
.vs
.vs/AKZ
